/* =================================================================
   1. ESTILOS GLOBALES Y VARIABLES
   - Fuentes, variables de color, estilos para body, h1, a, etc.
   ================================================================= */
:root {
    --color-principal: #073cf8;
    --color-texto: #1a1a1a;
    --color-fondo-claro: #f8f9fa;
}

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 185px;
}

main {
    flex-grow: 1;
}


/* =================================================================
   2. COMPONENTES REUTILIZABLES
   - Estilos para Header, Footer, botones, tarjetas, etc.
   ================================================================= */


#header-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: white; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card .product-image-wrapper {
    height: 200px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card .product-image-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: contain; 
}

/* =================================================================
   4. ESTILOS RESPONSIVOS
   - Ajustes para tablets y móviles.
   ================================================================= */

/* Se aplica a pantallas con un ancho MÁXIMO de 991.98px (tablets y móviles) */
@media (max-width: 991.98px) {
    body {
        /* Aumentamos el padding para compensar la nueva altura del header */
        padding-top: 320px; /* <-- ¡PUEDES AJUSTAR ESTE NÚMERO! */
    }
}