#header-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: white; 
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

body {
    padding-top: 185px; 
}

.card .product-image-wrapper {
    height: 200px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card .product-image-wrapper img {
    width: 100%;
    height: 100%;

    object-fit: contain; 
}